<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Apitron.PDF.Controls" version="1.0.154" targetFramework="net472" />
  <package id="Apitron.PDF.Kit" version="2.0.40" targetFramework="net472" />
  <package id="Apitron.PDF.Rasterizer" version="3.0.154" targetFramework="net472" />
  <package id="FirebaseDatabase.net" version="4.0.4" targetFramework="net472" />
  <package id="LiteDB" version="4.1.4" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net472" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net472" />
</packages>